@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ----------------BASE CSS------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
}

html {
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #a5a5a5;
}

*::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #736f6f;
}
*::-webkit-resizer{
    width: 4px;
}

/* ---------------------------------------- */